:root {
    --main-color: #0a72eb;
    --bg-color: #77b7ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #171717;
}

img {
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}
.bg_span {
    background: var(--bg-color);
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 60%;
    z-index: -1;
}
nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 24px;
    margin: 16px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    margin: 0 10px;
    padding: 10px;
    list-style: none;
}

nav ul a {
    
    font-size: 1.2rem;
}

header {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}

header .img {
    width: 60%;
}

header .text {
    position: absolute;
    top: 30%;
    left: 0;
}

header .text p {
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px;
}
header .text h1 {
    font-size: 70px;
}

header .text h1 span {
    color: var(--main-color);
}
header .text h5 {
    font-size: 30px ;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}
header a {
    padding: 8px 20px;
    text-transform: uppercase;
    color: var(--main-color);
    border: var(--main-color) 2px solid;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 2px;
}

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about_img {
    width: 130%;
    position: relative;
    margin-right: 50px;
}

.about_img::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -50px;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.about_text {
    margin-top: 50px;
}

.about_text h5 {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 18px;

}

.about_text h2 {
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 35px;
}

.about_text p {
    color: #333;
    line-height: 1.8 ;
    font-size: 20px;
}